﻿@model List<Task23_Advanced.Models.NewsViewModel>
@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>ViewBag.Title</title>
</head>
<body>
    <div class="container-lg d-flex flex-row bg-dark ">
        <div class="col-7">
            @foreach (var item in Model)
            {
                    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                    @Html.DisplayFor(modelItem => item.Content)                  
            }
        </div>

        <div class="navbar navbar-dark bg-dark mx-auto" id="navbarSupportedContent">
            <ul class="navbar-nav flex-column justify-content-center ">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Main")">Main </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Guest")">Guest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Index", "Questionnaire")">Questionnaire</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
