﻿@model Task23_Advanced.Models.Questionnaire
@{
    Layout = null;
    ViewBag.Title = "Questionnaire Page";
}
@helper MyInlineHelper(string[] words)
{
    <ol>
        @foreach (string word in words)
        {
            @word
            <li>@Html.TextBox(word)</li>
        }
    </ol>
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Questionnaire.css")
    
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @using (Html.BeginForm("UserPassedData", "Questionnaire", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <form class="form-container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.TextBox("Adress", ViewBag.Adress as string, new { @class = "adress", @placeholder = "Enter your adress", @style = "margin-top:20px" })
            <p>Choose your features:</p>
            <div class="checkboxes">
                @Html.CheckBox("Check-box-scales", (bool)ViewBag.Scales)
                <label for="scales">Scales</label>
                @Html.CheckBox("Check-box-horns", (bool)ViewBag.Horns)
                <label for="horns">Horns</label>
            </div>

            <div class="switches">
                <label class="switch" id="switch1">
                    @Html.CheckBoxSimple("Check-box-city", new { @class = "switch-input" })

                    <span class="slider"></span>
                </label>
                <label for="switch1">City</label>
                <label class="switch" id="switch2">
                    @Html.CheckBoxSimple("Check-box-work", new { @class = "switch-input", @pattern = "[A - Za - z]" })
                    <span class="slider round"></span>
                </label>
                <label for="switch1">Work</label>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="inline-helper-container">
                @Html.MyInlineHelper(new string[] { "Organisation", "Region" })
                @MyInlineHelper(new string[] { "Country", "Experience", "Position" })
            </div>
            <input type="submit" name="Button" value="SUBMIT" />
        </form>
    }


    @Scripts.Render("~/Scripts/bootstrap.js")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
