﻿@model PagedList.IPagedList<Task23_Advanced.Models.DividedArticlesViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "";
    ViewBag.Title = "Main page of library";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/Main.css" />
    <script type="text/javascript">
        function myFunction(id) {
            var dots = document.getElementById("dots".concat(id));
            var moreText = document.getElementById(id);
            var btnText = document.getElementById("myBtn");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less";
                moreText.style.display = "inline";
            }
        }
    </script>
</head>
<body>
    <div class="navbar navbar-dark bg-dark ">
        <ul class="nav ">
            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Index", "Main")">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Index", "Guest")">Guest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Index", "Questionnaire")">Questionnaire</a>
            </li>

        </ul>
    </div>
    @foreach (var item in Model)
    {
        <article>
            <h2> @Html.DisplayFor(modelItem => item.AuthorName)</h2>
            <h3>@Html.DisplayFor(modelItem => item.Date)</h3>
        </article>
        <p>
            @Html.DisplayFor(modelItem => item.LessContent)<span id="dots@(item.Id)">...</span>
            <span class="more-content" id="@(item.Id)">
                @Html.DisplayFor(modelItem => item.MoreContent)
            </span>
        </p>
        <div class="d-flex justify-content-end">
            <button class="btn btn-dark btn-lg" onclick="myFunction(@(item.Id))" id="myBtn">Read more</button>
        </div>
    }
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    @Scripts.Render("~/Scripts/script.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap.js")
</body>
</html>

