﻿@model PagedList.IPagedList<Task23_Advanced.Models.ReviewViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "";
    ViewBag.Title = "Guest Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css">

    <link rel="stylesheet" href="~/Content/Guest.css" />
</head>
<body>
    <h1>Reviews</h1>
    <div class="container-fluid">
        @foreach (var item in Model)
        {
            <div class="review">
                <div class="author-name">@Html.DisplayFor(modelItem => item.AuthorName)</div>
                <div class="date">@Html.DisplayFor(modelItem => item.Date)</div>
                <div class="review-text">@Html.DisplayFor(modelItem => item.Content)</div>
            </div>
        }
    </div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    <form style="background-color:darkgray;">
        <h1 style="font-size:35px;font-weight:600;font-style:italic;">Enter new review</h1>
        <label for="exampleInputEmail1" class="form-label">Enter author name</label>
        <input type="text" class="form-control" minlength="3" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter author name" style="font-size:30px;height:50px;width:450px;margin-left:37%;" />


        <label for="exampleInputEmail1" class="form-label">Enter review text</label>
        <textarea type="text" class="form-control" minlength="10" id="exampleInputPassword1" style="width:600px;height:450px; padding-bottom: 400px !important;font-size:20px;margin-left:34%;"></textarea>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>

