﻿body{
    text-align:center !important;
    font-size:30px;
    margin:0px;
    padding:0px;
}
.author-name{
    font-size:30px;
    font-weight:600;
}
.review-text{
    text-align:left !important;
    text-indent:20px;
}
form {
    margin-bottom: 0;
}
.date {
    color: gray
}

.pagination-container {
    display: flex;
    justify-content: center;
}