﻿html, body {
    margin: 0px;
    padding: 0px;
}
.more-content {
    display: none;
}
button {
    color:aliceblue !important;
    background-color:darkslategrey !important;
    width:150px !important;
    height:50px !important;
    vertical-align:central;
}
form{
    margin-top:30px;
}
p {
    font-size:24px;
    text-align:left;
}
h3 {
    color:gray
}
.pagination-container {
    display:flex;
    justify-content:center;
}